@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.sidebar {
    background-color: #1b1c1d;
}

.sidebar .sidebar-heading {
    color: rgba(255,255,255,.95);
}
.sidebar a.sidebar-link {
    color: rgba(255,255,255,.6);
    padding: 0.25rem 1rem 0.25rem 1.25rem;
}

.sidebar .sidebar-heading.open, .sidebar .sidebar-heading:hover {
    color: rgba(255,255,255,.95);
}