@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1 {
    font-size: 1.2rem;
}

p, ul, ol {
    line-height: 1.5;
}

header.navbar {
    background-color: #000;
    border: none;
}

header.navbar .sidebar-button {
    color: #fff;
    height: 1.5rem;
    width: 1.5rem;
}

header.navbar .links {
    background-color: transparent;
    color: #fff;
}

.navbar .logo {
    max-width: 160px;
}

header.navbar .nav-links a:hover, header.navbar .nav-links a.router-link-active {
    color: #fff;
}

aside.sidebar {
    background-color: #141414;
    border-right: 1px solid #444;
}
aside.sidebar .nav-links {
    border-bottom: 1px solid #333;
}
.sidebar .nav-item {
    color: #fff;
}

.sidebar .sidebar-group a.sidebar-link {
    padding-left: 1.25rem;
}

.sidebar .sidebar-heading {
    color: rgba(255,255,255,.95);
    padding: 0.18rem 1.5rem 0.18rem 1.25rem;
}
.sidebar a.sidebar-link {
    font-size: .9rem;
    color: rgba(255,255,255,.95);
    padding: 0.15rem 1rem 0.15rem 1.25rem;
}
    
.sidebar > .sidebar-links > li:not(:first-child) {
    border-top: 1px solid rgba(100,100,100,.2);
}

.sidebar .sidebar-heading.open, .sidebar .sidebar-heading:hover {
    color: rgba(255,255,255,.95);
}

.custom-block.tip {
    border-color: #0B76DB;
}
.custom-block.tip p, .custom-block.warning p {
    margin: 1em 0;
}

header.hero {
    display: none;
}

.navbar .site-name {
    display: none;
}

main.home {
    max-width: 100%;    
    padding: 0;
}