/* Font Declarations */

/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Permanent+Marker&family=Roboto+Condensed:wght@300;400;700&display=swap');
/* Roboto Condensed Bold */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

/* Bison Bold */
/* @font-face {
    font-family: 'Bison Bold';
    src: url(../../../fonts/Bison-Bold.ttf);
    font-weight: bold;
} */
